/* Permet de supprimer toutes les marges et padding de la page */
* {
    margin: 0;
    padding: 0;
}

/* On regle le body de la page */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* On regle le header' */
header {
    background-color: #205685;
    flex-grow: 0.5;
}

/* On regle le top-bar */
#top-bar {
    background-color: rgb(5, 5, 206);
    padding: 5px;
    text-align: center;
    /* On créer une ombre */
    -webkit-box-shadow: 5px 5px 15px 4px #000000;
    box-shadow: 5px 5px 15px 4px #000000;
}

#logo-top-bar {
    width: 100px;
}

nav {
    padding: 20px;
}

/* On regle le menu */
.menu {
    /* On enleve le puces */
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: row nowrap;
}

.link {
    font-size: 20px;
    color: white;
    font-style: none;
    /* On enleve le soulignement */
    text-decoration: none;
}

.link:hover {
    color: yellow;
}

/* On regle le  */
main {
    flex-grow: 6;
}

/* On regle le titre pricipale de la page */
h1 {
    color: blue;
    margin: 10px;
    text-align: center;
}

/* On regle les titre h2 */
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
}

/* On regle les éléments en ligne */
.row-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    gap: 40px;
}

/* On regle les sections */
section {
    margin-bottom: 50px;
    padding: 20px;
}

/* On regle les titre h3 */
h3 {
    text-align: center;
    margin-bottom: 10px;
}

/* On regle les paragraphe */
p {
    text-align: justify;
}

/* On regle la card memebre */
.membre {
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.60);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.60);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Au survol de la souri, on diminu l'ombre sur les card */
.membre:hover{
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.60);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.60);
}

/* On regle l'image avatar membre */
.avatar {
    width: 70px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* On regle les items de la div horizontalement */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

/* On regle les items de la div verticalement */
.vertical {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* On regle les label des input */
label {
    font-weight: bold;
}

/* On regle les inputs */
input {
    padding: 10px 20px;
    border-radius: 5px;
}

/* On regle le textarea */
#message {
    width: 80%;
    /* On met la hauteur minimun a 150px */
    min-height: 150px;
    /* On determine le redimentionnelent verticalment par l'utilisateur */
    resize: vertical;
    margin-bottom: 20px;
}

/* On regle le btn submit */
input[type=submit] {
    background-color: #205685;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/* On regle le btn submit au survole de la souri */
input[type=submit]:hover {
    background-color: rgb(146, 62, 62)
}

/* On regle le footer */
footer {
    background-color: #089a91;
    padding: 30px;
    flex-grow: 2;
}

/* On regle me nu du footer */
.footer-ul{
    list-style: none;
}

/* O regle les lien du menu footer */
.footer-link {
    font-size: 20px;
    font-style: none;
    /* On enleve le soulignement */
    text-decoration: none;
}

.footer-link:hover {
    color: aliceblue;
}