* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

header {

    border: 2px solid red;
    flex-grow: 1;

    

}

main {

    border: 2px solid green;

    flex-grow: 4;
    

}






footer {
    border: 2px solid orange;
    flex-grow: 2;
    

}